body {
    background-color: #171717;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
}

footer {
    color: #616161;
    padding: 15px 10px 0px 10px;
    text-align: center;
    font-size: 11px;
}

a {
    color: #616161;
    text-decoration: none;
}

a:hover {
    color: #e99f1c;
}

#title a {
    color: #fff;
}

.container {
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

button {
    background-color: #EBECF0;
    border: 0px;
    border-radius: 25px;
    color: #171717;
    height: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 30px 15px 30px 10px;
    text-align: center;
}

button:hover {
    color: #fff;
    background-color: #3b3b3b;
}

.title-transcription {
    height: auto;
    background-color: #ebecf0;
    border-radius: 25px 25px 0px 0px;
    color: #171717;
    padding: 15px 15px 15px 25px;
    text-align: left;
    font-weight: bold;
}

.transcription {
    height: auto;
    background-color: #3B3B3B;
    border-radius: 0px 0px 25px 25px;
    color: #fff;
    padding: 25px;
    text-align: left;
}

.end-transcription {
    height: auto;
    background-color: #ebecf0;
    border-radius: 0px 0px 25px 25px;
    color: #171717;
    padding: 15px;
    margin-bottom: 20px;
    text-align: right;
}

.copy-button {
    background-color: #ebecf0;
    color: #3B3B3B;
    text-align: right;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}